node_modules/
.DS_Store
.DS_Store/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/config/config.js
client/src/config/config.js
.vscode/settings.json
server/.env
client/.env
build/
server/yo-api.log
server/yo.log
.tf/.terraform.lock.hcl
.tf/.terraform/providers/registry.terraform.io/hashicorp/aws/4.47.0/darwin_arm64/terraform-provider-aws_v4.47.0_x5
.tf/.terraform/terraform.tfstate
.tf/setup-s3-state-buckets/.terraform/providers/registry.terraform.io/hashicorp/aws/5.70.0/darwin_arm64/LICENSE.txt
.tf/setup-s3-state-buckets/.terraform/providers/registry.terraform.io/hashicorp/aws/5.70.0/darwin_arm64/terraform-provider-aws_v5.70.0_x5
.tf/terraform.tfstate
.tf/tfplan
*.zip
/server/dist
.tf/.terraform/providers/registry.terraform.io/hashicorp/aws/5.70.0/darwin_arm64/terraform-provider-aws_v5.70.0_x5
.tf/.terraform/providers/registry.terraform.io/hashicorp/aws/5.70.0/darwin_arm64/LICENSE.txt
server/.env.production
server/.env.development
