.home {
  margin-top: 3px;
}

input, select, textarea {
  color: #e0e0e0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #616161;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #616161;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #616161;
}

.submit-btn {
  width: 100%;
}

.shorten-title {
  margin-top: 20px;
}

.formError {
  color: red;
}

.loader {
  margin-top: 20px;
  text-align: center;
  padding: 0 14px;
}

.shorten-imp {
  margin-top: 20px;
}

.shorten-error {
  margin-top: 20px;
  color: red;
}
