module.exports = {
  mongoURI: "mongodb://localhost/yo",
  errorUrl: "https://yo.mysite.io/error",
  baseUrl: "https://yo.mysite.io",
  apiUrl: "https://yo-api.mysite.io/api/",
  logLocation: "yo.log"
};
