@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: teal;
    --foreground: #424242;
    --text: #acacac;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #424242;
        --foreground: teal;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #242424 !important;
}

.primary-body {
    margin: 10px;
}

.brand {
    font-size: 1.5rem;
    color: var(--text);
    position: absolute;
    margin-left: 60px;
}

.brand a {
    color: #ffffff;
    text-decoration: none;
}

.brand a:hover {
    color: #f0f0f0;
}

.create-btn {
    color: var(--text);
    padding: 5px 5px;
    border-radius: 2px;
    text-decoration: none;
    transition: var(--background) 0.3s ease;
}

.create-btn:hover {
    background-color: #ffffff;
    color: var(--foreground);
}

/* Override the tab background color */
.tabs {
    background-color: var(
        --background
    );
}

.tabs .tab a {
    color: var(--text); /* Text color for inactive tabs */
}

.tabs .tab a.active {
    color: var(--foreground); /* Text color for active tab */
    background-color: var(--background); /* Background color for active tab */
}

.tabs .tab a:hover {
    background-color: var(--foreground);
    color: var(--background);
}

.tabs .indicator {
    background-color: var(--foreground);
} /*Color of underline*/

/* Limit the width of the Site URL column */
td.site-url,
th.site-url {
    max-width: 200px;
    word-break: break-word;
    white-space: normal;
}

.success-text {
    font-size: 30px;
    margin-bottom: 10px;
}

.success-subtext {
    margin-bottom: 10px;
}

.success-link-btn {
    margin-right: 10px;
}

.header-logo {
    cursor: pointer;
}

.update-modal-btn {
}

.delete-modal-btn {
    margin-right: 10px !important;
}

.url-cell {
    max-width: 800px; /* TBD */
    white-space: normal;
    word-wrap: break-word;
}

.url-cell a {
    color: inherit;
    text-decoration: none;
}

.url-cell a:hover {
    text-decoration: underline;
}

.search-input:focus {
    border-bottom: 1px solid teal !important;
    box-shadow: 0 1px 0 0 teal !important;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Full viewport height if you want it centered vertically */
    text-align: center;
}

.redirect-text {
    font-size: 2.25em;
}

.page-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-footer .left,
.page-footer .right {
    display: flex;
    align-items: center;
}

.page-footer a {
    color: var(--foreground);
}

.page-footer .footer-github a {
    color: var(--text);
}

.page-footer .footer-github a:hover {
    color: rgb(129, 75, 216);
}

.footer-override {
    margin-top: 0em;
    padding-top: 0em;
}
